<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link href="{{ link_asset('css/style.min.css') }}?t={{ time() }}" rel="stylesheet" type="text/css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    {% include 'components/common_css.html' %}
</head>

<style>
    [x-cloak] {
        display: none !important;
    }
</style>

<body>
    {% include 'partials/navbar.html' %}
    <div class="">
        {{ block('content') }}
    </div>
    {% include 'partials/footer.html' %}

    <script src="{{ link_asset('js/main.js') }}"></script>

    {% include 'components/common_js.html' %}
</body>

</html>