{% if resources %}
<div class="my_container section_grid-col-1">
    {% set resource = resources|slice(3, 10) %}
    {% for listItem in resource %} 
    <!--items-->
    <a href="#" class="-items">
        {% set thumbnailFile = listItem.getThumbnailFile() %}
        <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="">
        <div class="-content">
            <div class="-title">
                {{ listItem.getTitle() }}
            </div>
            <div class="-author">
                <span>Paul Sawers</span>
                <span>.</span>
                <span>Today</span>
            </div>
        </div>
    </a>
    {% endfor %} 
</div>
{% endif %}