{% if resources %}
{% set today = "now"|date("F j, Y") %}
<div class="my_container section_grid-col-1">
    {% set resource = resources|slice(3, 10) %}
    {% for listItem in resource %} 
    <!--items-->
    <a href="{{ listItem.getLink() }}" class="-items">
        {% set thumbnailFile = listItem.getThumbnailFile() %}
        <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="">
        <div class="-content">
            <div class="-title">
                {{ listItem.getTitle() }}
            </div>
            <div class="-author">
                {# <span>Paul Sawers</span>
                <span>.</span> #}
                {% if listItem.created_at|date("F j, Y") == today %}
                        Today
                    {% else %}
                        {{ listItem.created_at|date("F j, Y") }}
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %} 
</div>
{% endif %}