
{% if resources %}

{# <div id="posts-container"></div> #}
<div class="my_container py-10 border_top">
    <div class="section_title">
        <p class="">{{ tag_name }}</p>
        <svg class="w-6 h-6 angle-right" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                d="m9 5 7 7-7 7" />
        </svg>
    </div>

    <div class="section_flex pt-4">
        <!--left side-->
        {% set card1 = resources|slice(0,1) %}
        <div class="_main">
            {% for cardItem in card1 %}
            <a href="{{ link_post(cardItem) }}" class="-items">
                {% set thumbnailFile = model_relation(cardItem, 'thumbnailFile') %}
                <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="-img">
                <div class="-title">
                    <p class="">
                      {{ cardItem.title }}  
                    </p>
                </div>
                <div class="-content">
                    <p>{{ cardItem.description }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <!--right side-->
        {% set listCard = resources|slice(1,3) %}
        <div class="_right">
            {% for cardItem in listCard %}
            <a href="{{ link_post(cardItem) }}" class="-items">
                {% set thumbnailFile = model_relation(cardItem, 'thumbnailFile') %}
                <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="">
                <p class="-title">
                    {{ cardItem.title }}
                </p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{# <script type="module">
    import { fetchPosts } from "{{ link_asset('js/main.js') }}?t={{ time() }}";
    (async () => {
        const endpoint = '';
        const page = 1;
        const limit = 16;
        const ajax = 1;
    
        const posts = await fetchPosts(endpoint, page, limit, ajax);
        console.log('Fetched posts:', posts);
    
        // Gắn dữ liệu vào HTML
        const postsContainer = document.getElementById('posts-container');
        posts.data.forEach(post => {
            const postElement = document.createElement('div');
            postElement.innerHTML = `
            
            `;
            postsContainer.appendChild(postElement);
        });
    })();
</script> #}
{% endif %}