
<!--Pagination-->
<div class="my_container">
    {# <a href="cate_page-2.html" class="pagination">
        <p class="">Next page</p>
    </a> #}
   
    <div class="pagination_2">
        <a href="category.html" class="-btn">Previuos page</a>
        <a href="cate_page-2.html" class="-btn">Next page</a>
    </div>
    
    {# <a href="cate_page-2.html" class="pagination">
        <p class="">Previuos page</p>
    </a> #}
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log('content loaded');
    });
</script>