<div x-data="list('/ajax/suggestions/{{ post.slug }}', true, 7)" class="recommended section_grid-col-1">

    <div class="">
        <h2>Recommended For You</h2>
    </div>

    <!--items-->
    <div class="posts">
        <template x-for="post in data" :key="post.id">
            <a data-fetch-result x-for="post in data" :href="post.slug" class="-items mb-4">
                <img :src="post.thumbnail_file_url" alt="" class="">
                <div class="-content">
                    <div x-text="post.title" class="-title"></div>
                    <div class="-author">
                        <span>Paul Sawers</span>
                        <span>.</span>
                        <span x-text="post.created_at"></span>
                    </div>
                </div>
            </a>
        </template>
    </div>
    

</div>
<script>
    document.addEventListener('DOMContentLoaded', () => window.viewCount('{{ post.slug }}'))
</script>