{% extends 'layouts/default.html' %}

{% block content %}
    <!-- Main-->
    <br class="main">
        <!--Lastest News-->
        {% set latestData = listData.getResources() %}
        <div class="my_container section_flex border_bot">
            <div class="outstanding">

                {% set latestData1 = latestData|slice(0, 1) %}
                {% for latestItem in latestData1 %} 
                <a href="{{ latestItem.getLink() }}" class="-items">
                    <div class="-title">
                       {{ latestItem.getTitle() }}
                    </div>
                    {% set thumbnailFile = latestItem.getThumbnailFile() %}
                    <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="-img">
                    <div class="-content">
                        <p>{{ latestItem.getDescription() }}</p>
                    </div>
                </a>
                {% endfor %} 
            </div>

            <div class="latest-col">
                <div class="border-b-2 border-black ">
                    <span class="px-2 py-1 bg-black text-white">
                        Latest
                    </span>
                </div>
                {% set latestDataCol = latestData|slice(1, 5) %}
                {% for latestItem in latestDataCol %} 
                <a href="{{ latestItem.getLink() }}" class="-items">
                    {% set thumbnailFile = latestItem.getThumbnailFile() %}
                    <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="">
                    <p class="-title">
                        {{ latestItem.getTitle() }}
                    </p>
                </a>
                {% endfor %}
            </div>
        </div>
        <!--latest row-->
        <div class="my_container section_grid latest-row">
            {% set latestDataRow = latestData|slice(6, 9) %}
            {% for latestItem in latestDataRow %} 
            <!--items-->
            <a href="{{ latestItem.getLink() }}" class="-items">
                {% set thumbnailFile = latestItem.getThumbnailFile() %}
                <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="">
                <p class="-title">{{ latestItem.getTitle() }} </p>
            </a>
            {% endfor %}
        </div>
    
        <!--divide-->
        {# <div class="divide">
            <div class="_container">
                <div class="-line1"></div>
                {% set category = WebsiteCategory.getResources() %}
                <a href="{{ link_to(category) }}" class="-text primary">See all latest news</a>
                <div class="-line2"></div>
            </div>
        </div> #}

        <!--newsletter-->
        <div>
            {% include 'components/news-letter.html' %}
        </div>
        
        <!--Category card-->
        {% set data = website.getMetaValue('home-sections') %}
        {% set tags = data|split(',') %}

        {% for tag in tags %}
            {% set parts = tag|split(':') %}
            {% if parts|length > 1 %}
                {% set tag_name = parts[0]|trim %}
                {% set ids = parts[1]|trim|split(' ') %}
                {% set previous_tag_name = tag_name %}
            {% else %}
            {% set tag_name = previous_tag_name %}
                {% set ids = parts[0]|trim|split(' ') %}
            {% endif %}

            {% for id in ids %}
                <div>
                    {%
                        set query = multikey_filter_post_query()
                        .setFilterKeys([id])
                        .where('visibility', '=', 'public')
                        .setFilterKeyMatchingType('all')
                        .sortBy('created_at')
                        .sortDesc()
                        .setLimit(24)
                    %}

                    {% set cats = multikey_filter_get_posts(query) %}
                    
                    {% if cats is not empty %}
                        {% include 'components/list-card-tag.html' with { resources: cats, tag_name: tag_name } %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}

        
    </div>

    {# <script>
        document.addEventListener('DOMContentLoaded', () => {
           console.log('Hello');
        });
    </script> #}

    
{% endblock %}