{% extends 'layouts/default.html' %}

{% block content %} 
{% set data = website.getMetaValue('home-sections') %}
    <!-- Main-->
    <div class="main">
        <!--Lastest News-->
        {% set tags = data|split(',') %}
        {% if tags|length > 0 %}
            {% set first_tag = tags[0] %}
            {% set parts = first_tag|split(':') %}
            {% if parts|length > 1 %}
                {% set tag_name = parts[0]|trim %}
                {% set ids = parts[1]|trim|split(' ') %}
            {% else %}
                {% set tag_name = '' %}
                {% set ids = parts[0]|trim|split(' ') %}
            {% endif %}

            {% for id in ids %}
                {% set catResource = website_category_find_by_id(id)%}
                {% set current_tag_name = (tag_name != '') ? tag_name : id %}
                <div>
                    {%
                        set query = multikey_filter_post_query()
                        .setFilterKeys([id])
                        .where('visibility', '=', 'public')
                        .setFilterKeyMatchingType('all')
                        .sortBy('created_at')
                        .sortDesc()
                        .setLimit(24)
                    %}

                    {% set cats = multikey_filter_get_posts(query) %}
                    
                    {% if cats is not empty %}
                        {% include 'components/latest-news.html' with { resources: cats, tag_name: current_tag_name, catLink: catResource } %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        <!--latest row-->
        <div class="">
            {% include 'components/latest-row.html' %}
        </div>
    
        <!--divide-->
        {# <div class="divide">
            <div class="_container">
                <div class="-line1"></div>
                {% set category = WebsiteCategory.getResources() %}
                <a href="{{ link_to(category) }}" class="-text primary">See all latest news</a>
                <div class="-line2"></div>
            </div>
        </div> #}

        <!--newsletter-->
        <div>
            {% include 'components/news-letter.html' %}
        </div>
        
        <!--Category card-->
        {% set tags = data|split(',') %}

        {% for tag in tags|slice(1) %}
            {% set parts = tag|split(':') %}
            {% if parts|length > 1 %}
                {% set tag_name = parts[0]|trim %}
                {% set ids = parts[1]|trim|split(' ') %}
            {% else %}
            {% set tag_name = '' %}
            {% set ids = parts[0]|trim|split(' ') %}
            {% endif %}

            {% for id in ids %}
            {% set catResource = website_category_find_by_id(id)%}
            {% set current_tag_name = (tag_name != '') ? tag_name : id %}
                <div>
                    {%
                        set query = multikey_filter_post_query()
                        .setFilterKeys([id])
                        .where('visibility', '=', 'public')
                        .setFilterKeyMatchingType('all')
                        .sortBy('created_at')
                        .sortDesc()
                        .setLimit(24)
                    %}

                    {% set cats = multikey_filter_get_posts(query) %}
                    
                    {% if cats is not empty %}
                        {% include 'components/list-card-tag.html' with { resources: cats, tag_name: current_tag_name, catLink: catResource } %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}

        
    </div>
{% endblock %}