{% extends 'layouts/default.html' %}

{% block content %}

<div class="my_container py-10">
    <!--post detail-->
    <div class="post">
        <div class="-title">
            <h1 class="">{{ post.title }}</h1>
            <div class="-author">
                <span>By</span>
                <a href="#">Brian Heater</a>
                <span>
                    {% if latestItem.created_at|date("F j, Y") == today %}
                        Today
                    {% else %}
                        {{ latestItem.created_at|date("F j, Y") }}
                    {% endif %}
                </span>
                <br/>
                {% for websiteTag in model_relation(post, 'websiteTags') %}
                    <a href="{{ link_to(websiteTag) }}">{{ websiteTag.name }}</a>,
                {% endfor %}
            </div>
        </div>
        <div class="-content">
            {{ content.content | raw }}
        </div>
    </div>

    <!--recommended-->
    <div>
        {% include 'components/recommend-list.html' with { resources: listData.getResource() }%}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        {% set cats = model_relation(post, 'websiteCategories') %}
        console.log('{{ cats|length }}');
    });
</script>


{% endblock %}