{% extends 'layouts/default.html' %}

{% block content %}

<div class="my_container py-10">
    <!--post detail-->
    <div class="post">
        <div class="-title">
            <h1 class="">{{ post.title }}</h1>
            <div class="-author">
                <span class="">By</span>
                <a href="" class="">Brian Heater</a>
                <span class="">June 20, 2024</span>
            </div>
        </div>
            <a href="{{ link_to(search) }}">to search</a>,
        {% for websiteTag in model_relation(post, 'websiteTags') %}
        <a href="{{ link_to(websiteTag) }}">{{ websiteTag.name }}</a>,
        {% endfor %}
        <div class="-content">
            {{ content.content | raw }}
        </div>
    </div>

    <!--recommended-->
    <div>
        {% include 'components/recommend-list.html' with { resources: listData.getResource() }%}
    </div>
</div>

{% endblock %}