{% extends 'layouts/default.html' %}

{% block content %}
<div class="main">
    <!--Page title section-->
    {% include 'components/search-bar.html' %}
    
    {% if postsCount > 0 %}
    <div class="">
        {% include 'components/list-card.html' with { resources: listData.getResources(), count: listData.getResourcesCount()} %}
    </div>
     <!--Pagination-->
     <div class="my_container">
        {% include 'components/pagination_tailwind.html' with { resources: listData.getResources(),
         count: listData.getResourcesCount() } %}
     </div>
    {% else %}
    <div class="my_container">
        <div class="flex flex-col items-center justify-center h-96">
            <h1 class="text-2xl font-bold">No results found</h1>
            <p class="text-sm">Please try again with another keyword</p>
        </div>
    </div>
    {% endif %}

   
{% endblock %}