{% extends 'layouts/default.html' %}

{% block content %}
<div class="main">
    <!--Page title section-->
    <div class="my_container" x-data="{openSearch: false, searchClose: true}">
        <!--search desktop-->
        <div class="page_name-n-search">
            <div class="-title">latest tech new</div>
            <div class="-searchbar">
                <input type="text" placeholder="Search for news" class="-input">
                <button class="-btn"><svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                    </svg>
                </button>
            </div>
        </div>
        <!--search mobile-->
        <div class="page_name-n-search_mobile">
            <div x-show="searchClose" class="-title">latest tech new</div>
            <!--btn open search-->
            <button x-show="searchClose" x-on:click="openSearch = true, searchClose = false" class="-btn"><svg
                    class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                        d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                </svg>
            </button>
            <!--search bar-->
            <div x-cloak x-show="openSearch" x-on:click.outside="openSearch = false, searchClose = true"
                class="-searchbar">
                <input type="text" placeholder="Search for news" class="-input">
                <button class="-btn"><svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                    </svg>
                </button>
            </div>
        </div>

    </div>
    {% set latestData = listData.getResources() %}
    <!--Category latest section-->
    <div class="my_container head_page_section">
        {% set latestData1 = latestData|slice(0, 3) %}
        {% for latestItem in latestData1 %} 
        <a href="#" class="-items">
            {% set thumbnailFile = latestItem.getThumbnailFile() %}
            <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="">
            <div class="-content">
                <h2>{{ latestItem.getTitle() }}</h2>
                <div class="-author">
                    <span>Brian</span>
                    <span>.</span>
                    <span>Today</span>
                </div>
            </div>
        </a>
        {% endfor %} 
    </div>

    <!--Category list page-->
    <div class="my_container section_grid-col-1">
        {% set latestData2 = latestData|slice(3, 10) %}
        {% for latestItem in latestData2 %} 
        <!--items-->
        <a href="#" class="-items">
            {% set thumbnailFile = latestItem.getThumbnailFile() %}
            <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="">
            <div class="-content">
                <div class="-title">
                    {{ latestItem.getTitle() }}
                </div>
                <div class="-author">
                    <span>Paul Sawers</span>
                    <span>.</span>
                    <span>Today</span>
                </div>
            </div>
        </a>
        {% endfor %} 
    </div>

    <!--Pagination-->
    <div class="my_container">
        <a href="cate_page-2.html" class="pagination">
            <p class="">Next page</p>
        </a>
    </div>
</div>
{% endblock %}